.App {
	max-width: 80%;
	margin: 0 auto;
	text-align: center;
}
.img-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.catbox {
	display: flex;
	justify-content: center;
}

.catbox img {
	height: 250px;
	width: 250px;
	object-fit: cover;
	margin-left: 10px;
	border-radius: 10px;
}

.catbox button {
	border: none;
	background-color: teal;
	color: white;
	margin-left: 5px;
	padding: 10px 10px;
	cursor: pointer;
	border-radius: 5px;
}

.CatModal button {
	border: none;
	background-color: teal;
	color: white;
	margin-left: 5px;
	padding: 10px 10px;
	cursor: pointer;
	border-radius: 5px;
}
